<?xml version="1.0" encoding="UTF-8"?>
<!--启动项设置为 trace，加载 springboot 启动内部各种详细输出  warn为不输出-->
<Configuration status="warn">
    <Appenders>
        <!--添加一个控制台追加器-->
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>[%-5p] %d %c - %m%n</pattern>
            </PatternLayout>
        </Console>

        <!--添加一个文本追加器，文件位于根目录下，名为log.log-->
        <RollingRandomAccessFile name="serverlog" fileName="logs/server.log" filePattern="logs/server-%d{yyyy-MM--dd}-%i.log">

            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>

        <!--根记录全部输出到控制台上-->
        <AsyncRoot level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="serverlog" />
        </AsyncRoot>

    </Loggers>
</Configuration>